RileyEricksonFinalProject/bin/Debug/RileyEricksonFinalProject.exe
*.exe
RileyEricksonFinalProject/obj/Debug/main.o
RileyEricksonFinalProject/RileyEricksonFinalProject.layout
*.exe
*.o
RileyEricksonFinalProject/RileyEricksonFinalProject.layout